# Temporary files
*~
*.swp

# BoxLib build directories
d/
o/
f/
extern.f90
AMReX_buildInfo.cpp
*.dSYM

# Executable
*.ex


# Run output
*.p3d
plt*
*plt*old*
Backtrace*
chk*
grdlog
*_bu

# OSX files
.DS_Store

tempAscii.txt
Transient_Sl.txt
*.png